<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /><!-- CSS only -->

    <title>Make Appointment</title>
</head>
<body>
    {% if doc.count > 0 %}
    <h2>Doctor List</h2>
    <table>
        <thead><th>Name</th><th>Surname</th><th>Contact_Number</th><th>Price</th><th>Schedule</th><th>Rating</th><th> </th></thead>
        {% for i in doc %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.surname }}</td>
            <td>{{ i.phonenumber }}</td>
            <td>{{ i.priceOftheAppointment }}</td>
            <td>{{ i.scheduleDetails }}</td>
            <td>{{ i.rating }}</td>
            <td><a href="/create_appointment/{{i.pk}}">Choose</a>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>